.cell {
  box-sizing: border-box;
  border-top: 3px solid white;
  border-left: 3px solid white;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	width: 50px;
	font-size: 30px;
	color: white;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: darkblue;
}

.blankcell {
  box-sizing: border-box;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	width: 50px;
	font-size: 30px;
	color: white;
}

.table {
  border-spacing: 0 0;
  padding: 30px;
  padding-right: 45px;
  background-color: green;
  border-radius: 70px;
  border: solid gray;
  border-width: 10px;
}

.rightmost {
  border-right: 3px solid white;
}

.topmost {
  border-top: 3px solid white;
}

.bottommost {
  border-bottom: 3px solid white;
}
